<footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Empezar</h5>
                    <ul>
                        <li><a href="login">Iniciar Sesión</a></li>
                        <li><a href="registration">Regístrate<br></a></li>
                        <li><a href="/">Principal</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Sobre nosotros<br></h5>
                    <ul>
                        <li><a href="contact-us">Informacion de la empresa</a></li>
                        <li><a href="contact-us">Contáctenos<br></a></li>
                        <li><a href="#">Testimonios<br></a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Soporte</h5>
                    <ul>
                        <li><a href="faq">Preguntas frecuentes</a></li>
                        <li></li>
                        <li><a href="#">Foros<br></a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Términos de servicio<br></a></li>
                        <li><a href="#">Términos de Uso<br></a></li>
                        <li><a href="#">Política de privacidad<br></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2019 SIS (Todos los derechos reservados)</p>
        </div>
    </footer>