<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Registro - SIS</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/line-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
    
</head>

<body>
        <%include partials/navigation.html%>
    
    <div class="alert alert-info text-center" role="alert" style="margin-top: -8px;padding-bottom: 18px;margin-bottom: -29px;"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="margin-bottom: 37px;"><strong>¿Deseas ofrecer tu servicio?</strong></h2>
                <p class="text-center">Si deseas inscribir tu servicio y que se muestre a miles de personas , puedes hacerlo sin ningun problema. <strong>Recuerda antes darle un ojo a las </strong><a href="pricing.html"><strong>tarifas</strong></a><strong>(el primer mes es gratis).</strong></p>
            </div>
            <div class="buttons"><a class="btn btn-primary" role="button" href="registration-individual.html" style="margin: 5px;">Soy un individuo</a><a class="btn btn-light" role="button" href="registration-company.html" style="margin: 5px;">Soy una empresa</a></div>
        </div>
    </div>
    <div class="register-photo" style="margin-top: 0px;">
        <div class="form-container">
            <div class="image-holder" style="background-image: url(&quot;assets/img/lake-atitlan.jpg&quot;);"></div>
            <form method="post" action="/createRegister" >
                <h2 class="text-center" style="font-size: 22px;"><strong>Crea</strong> una cuenta para poder comprar servicios.<br></h2>
                <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Correo electrónico" required></div>
                
                <div class="form-group text-truncate input-group mb-3" style="margin-bottom: -18px;"><input class="form-control pwd" type="password" name="password" required="" placeholder="Contraseña" autocomplete="off" style="font-size: 16px;">
                    <div class="text-center shadow-none input-group-prepend border-0"><span class="text-center shadow-none input-group-text border-0" style="padding-top: 0px;padding-right: 0;padding-bottom: 0;padding-left: 0;height: 40px;"><button class="btn btn-primary btn-lg text-center border rounded-0 shadow-none reveal border-0" type="button" style="width: 42px;height: 40px;margin-top: 0px;padding: 0;" data-toggle="tooltip" data-placement="bottom" title="Mostrar contraseña"><i class="fa fa-eye shadow-none" id="icon-eye" style="width: 14px;"></i></button></span></div>
                </div>
                <div class="form-group text-truncate input-group mb-3" style="margin-bottom: -18px;"><input class="form-control pwd" type="password" name="passwordconfirm" required="" placeholder="Confirmar contraseña" autocomplete="off" style="font-size: 16px;">
                    <div class="text-center shadow-none input-group-prepend border-0"><span class="text-center shadow-none input-group-text border-0" style="padding-top: 0px;padding-right: 0;padding-bottom: 0;padding-left: 0;height: 40px;"><button class="btn btn-primary btn-lg text-center border rounded-0 shadow-none reveal border-0" type="button" style="width: 42px;height: 40px;margin-top: 0px;padding: 0;" data-toggle="tooltip" data-placement="bottom" title="Mostrar contraseña"><i class="fa fa-eye shadow-none" id="icon-eye" style="width: 14px;"></i></button></span></div>
                </div>
                <div class="form-group">
                    <div class="form-check"><label class="form-check-label"><input class="form-check-input" type="checkbox" required><a href="terms&policies" target="_blank" class="already">He leído y acepto los <span style="text-decoration: underline;">términos y condiciones de uso</span></a></label></div>
                </div>
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Registrarme</button></div><a href="login" class="already">¿Ya tienes una cuenta?<span style="text-decoration: underline;"> Entre aquí.</span><br></a></form>
        </div>
    </div>
    <%include partials/footer.html%>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>